<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>

  <title th:text="|${recipe.name} - Supreme Recipes|">Brioche French Toast with Nutella | My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" th:href="@{/css/unsemantic-grid-responsive.css}"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>

<body>

  <nav th:replace="template :: navigation">
  </nav>

  <div class="grid-container">

    <div th:replace="template :: chef-logo"></div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-50">
            <h2 th:text="${recipe.name}"> Brioche French Toast with Nutella </h2>
          </div>
          <div class="grid-50">
            <h2 class="flush-right">
              <a href="#">
                <img th:src="@{/images/favorite.svg}" height="16px"/>
              </a>
            </h2>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Photo </label>
            </p>
          </div>
          <div class="grid-40">
            <p>
              [There will be a photo here!]
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Name </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:text="${recipe.name}">
              Brioche French Toast with Nutella
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Description </label>
            </p>
          </div>
          <div class="grid-40">
            <p th:text="${recipe.description}">
              Yummmy dessert toast covered in egg wash and topped with nutella and seasonal fruit.
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Category </label>
            </p>
          </div>
          <div class="grid-30">
            <p th:text="${recipe.category}">
              Dessert
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Prep Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p th:text="|${recipe.prepTime} minutes|">
              5 minutes
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Cook Time </label>
            </p>
          </div>
          <div class="grid-20">
            <p th:text="|${recipe.cookTime} minutes|">
              15 minutes
            </p>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row">
          <div class="grid-20">
            <p>
              <label> Ingredients </label>
            </p>
          </div>
          <div class="grid-30">
            <p>
              <label> Item </label>
              </p>
            </div>
            <div class="grid-30">
              <p>
                <label> Quantity </label>
                </p>
              </div>

                <div class="ingredient-row" th:each="ingredient: ${recipe.ingredients}">
                  <div class="prefix-20 grid-30">
                    <p th:text="${ingredient.name}">
                      Eggs
                    </p>
                  </div>
                  <div class="grid-10 suffix-10">
                    <p th:text="|${ingredient.amount} ${ingredient.measurement}|">
                      2
                    </p>
                  </div>
                </div>
              </div> <div class="clear"></div>

              <div class="grid-100 row">
                <div class="grid-20">
                  <p>
                    <label> Steps </label>
                  </p>
                </div>

                  <div class="step-row">
                    <div class="prefix-20 grid-80" th:each="step: ${recipe.instructions}">
                      <p th:text="${step}">
                        1. Crack your eggs and beat them.
                      </p>
                    </div>
                  </div>
                </div> <div class="clear"></div>

                <div class="row">&nbsp;</div>

              </div> <!-- recipes -->
            </div> <!-- grid-100 -->
          </div> <!-- grid-container -->
        </body>
        </html>
