<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head('Supreme Recipes')"></head>
<body>

  <div th:replace="template :: navigation"></div>

  <div class="grid-container">

    <div th:replace="template :: chef-logo"></div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <form action="/search" method="get">
            <div class="grid-30">
              <select name="category">
                <option value="">All Categories</option>
                <option th:each="category: ${categories}" th:value="${category}" th:text="${category.name}">Breakfast</option>
              </select>
            </div>
            <div class="grid-40">
                <input placeholder="Search..." name="searchQuery" th:value="${search}"/>
            </div>
          </form>
          <div class="grid-30">
            <div class="flush-right">
              <form action="/recipes/add">
                <button>+ Add Recipe</button>
              </form>
            </div>
          </div>
        </div> <div class="clear"></div>
        <div th:each="recipe : ${allRecipes}">
        <div class="grid-100 row addHover" style="border-radius: 0;">
          <a th:href="@{|/recipes/${recipe.id}|}">
            <div class="grid-70">
              <span><img th:src="@{/assets/images/favorite.svg}" height="12px"/> </span>
              <p th:text="${recipe.name}">
                Baked Alaskan Salmon with Asparagus
              </p>
            </div>
          </a>
          <div class="hoverBlock" th:if="${authenticated}">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{/assets/images/edit.svg}" height="12px"/> Edit </a>
                  <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post"><button type="submit"><img th:src="@{/assets/images/delete.svg}" height="12px"/> Delete </button></form>
                </p>
              </div>
            </div>
          </div>
        </div> <div class="clear"></div>
        </div>
        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
