<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>

  <title>Chandra S. | Supreme Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/unsemantic-grid-responsive.css"/>
  <link rel="stylesheet" href="css/styles.css"/>

</head>

<body>

  <nav th:replace="template :: navigation"></nav>

  <div class="grid-container">

    <div th:replace="template :: chef-logo"></div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls section">
          <div class="grid-100">
            <h2> Chandra S. </h2>
          </div>
        </div>
      </div>
      <div class="recipes">
          <div class="grid-100 row controls">
            <div class="grid-100">
              <h3> Submitted Recipes: </h3>
            </div>
          </div>

          <div class="grid-100 row addHover">
            <a href="detail.html">
              <div class="grid-70">
                <p>
                  Broiche French Toast with Nutella
                </p>
              </div>
            </a>
            <div class="hoverBlock">
              <div class="grid-30">
                <div class="flush-right">
                  <p>
                    <a href="#"> <img th:src="@{images/edit.svg}" height="12px"/> Edit </a>
                    <a href="#"> <img th:src="@{images/delete.svg}" height="12px"/> Delete </a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="grid-100 row addHover">
            <a href="detail.html">
              <div class="grid-70">
                <p>
                  Meyer Lemon French Toast
                </p>
              </div>
            </a>
            <div class="hoverBlock">
              <div class="grid-30">
                <div class="flush-right">
                  <p>
                    <a href="#"> <img th:src="@{images/edit.svg}" height="12px"/> Edit </a>
                    <a href="#"> <img th:src="@{images/delete.svg}" height="12px"/> Delete </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
        <div class="recipes">
          <div class="grid-100 row controls">
            <div class="grid-100">
              <h3> Favorited Recipes: </h3>
            </div>
          </div>
            <div class="grid-100 row addHover">
              <a href="detail.html">
                <div class="grid-70">
                  <p>
                    Broiche French Toast with Nutella
                  </p>
                </div>
              </a>
              <div class="hoverBlock">
                <div class="grid-30">
                  <div class="flush-right">
                    <p>
                      <a href="#"> <img th:src="@{images/favorite.svg}" height="12px"/> Remove from favorites </a>
                    </p>
                  </div>
                </div>
              </div>
              </div>
        </div>
      </div> <!-- recipes -->
    </div> <!-- grid-100 --><!-- grid-container -->
</body>
</html>
