<nav th:fragment="navigation">
        <a th:href="@{/profile}" th:text="${user.username}">
            Chandra S.
        </a>
        &bull;
        <form th:action="@{/logout}" method="post" style="display: inline">
            <button>Logout</button>
        </form>
</nav>

<div th:fragment="chef-logo" class="grid-100">
    <a th:href="@{/recipes}">
        <h1>
            <img th:src="@{/images/chefbot.svg}" height="60px"/>
            <br/>
            Supreme Recipes
        </h1>
    </a>
</div>