<!DOCTYPE html>
<html>
<head th:fragment="head(title)">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title th:text="${title}">Login | Supreme Recipes</title>

    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" th:href="@{/assets/css/unsemantic-grid-responsive.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}"/>

</head>
<body>

<nav th:fragment="navigation">
        <a th:href="@{/profile}" th:text="${currentUser.username}">
            Chandra S.
        </a>
        &bull;
        <form th:action="@{/logout}" method="post" style="display: inline">
            <button>Logout</button>
        </form>
</nav>

<div th:fragment="chef-logo" class="grid-100">
    <a th:href="@{/recipes}">
        <h1>
            <img th:src="@{/assets/images/chefbot.svg}" height="60px"/>
            <br/>
            Supreme Recipes
        </h1>
    </a>
</div>

<div class="flash" th:if="${flash}" th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" th:fragment="flash">
</div>
</body>
</html>